
@font-face {
    font-family: 'museosanscyrl';
    src: url('museosanscyrl_500.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'museosanscyrl';
    src: url('museosanscyrl_700.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
